<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="description" content="The new generation of sports talk radio covering professional, collegiate & amateur sports in Pennsylvania 5-7pm Weekdays!">
    <title>Front-end Dev</title>
    <base href="/ksb2/" />
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/dist/third-party.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body ng-app="ksb" ng-controller="mainController">

    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Keystone Sports Beat</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li ng-repeat="section in sections"><a href="#{{section.url}}">{{section.title}}</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li ng-repeat="section in sections"><a href="{{section.url}}">{{section.title}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div ng-view>

    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-logo">www.keystonesportsbeat.com</div>
      </div>
    </footer>

    <script type="text/javascript" src="js/dist/third-party.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/dist/bundle.js"></script>
  </body>
</html>
