.social-bar {
	border-top: 1px solid lightgray;
	margin: 1em inherit;
	padding: 1em inherit;
	display: block;
	overflow: hidden;

	&__item {
		float: left;
		width: 50%;
		padding: .5em 2em;
		@include breakpoint($medium-screen) {
			width: 25%;
			padding: 2em;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__title {
		color: #e6a83d;
		font-size: 1.6rem;
	}
}